.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-family: Tamagotchi, monospace;
}

@keyframes blinking{
  0%, 100%{
    border-color: transparent;
  }
  50%{
    border-color: #000;
  }
}

@keyframes typing{
  0%{
    visibility: hidden;
    width: 0px;
  }
  100%{
    width: 100%;
  }
}

%typing{
  overflow: hidden;
  animation: typing 3.5s steps(30),
  blinking 1s step-end infinite;
  animation-delay: 2.5s;
  animation-fill-mode: both;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  white-space: nowrap;
  max-width: min-content;
  border-right: .125em solid #000;
  @extend %typing;
}

.piano {
  align-items: center;
  justify-content: center;
}

.whiteKey {
  border: 1px solid #000;
  border-radius: 0px 0px 2px 2px;
  display: inline-flex;
  height: 10rem;
  width: 3.5rem;
  z-index: 1;
}

.blackKey {
  height: 5.5rem;
  border: 1px solid #000;
  border-radius: 2px;
  width: 1.75rem;
  background-color: #000;
  margin-left: 75%;
  position: absolute;
  z-index: 2;
}

.whiteNote{
  margin-top: auto;
  padding: 1rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
  .logo img {
    filter: invert(1);
  }
}

$color-1: #ff355e;
$color-2: #fd5b78;
$color-3: #ff6037;
$color-4: #ff9966;
$color-5: #ff9933;
$color-6: #ffcc33;
$color-7: #ffff66;
$color-8: #ccff00;
$color-9: #66ff66;
$color-10: #aaf0d1;
$color-11: #16d0cb;
$color-12: #50bfe6;
$color-13: #9c27b0;
$color-14: #ee34d2;
$color-15: #ff00cc;

$rainbow: $color-1,$color-2,$color-3,$color-4,$color-5,$color-6,$color-7,$color-8,$color-9,$color-10,$color-11,$color-12,$color-13,$color-14,$color-15;

$x: 1;
//rainbow animation factory
@each $color in $rainbow {
  @keyframes keyPress#{$x} {
    50%{
      transform: scaleY(1.05);
      transform-origin: top;
      background-color: $color;
    }
  }

  .whiteKey:nth-of-type(#{$x}){
    animation: keyPress#{$x} linear 1s;
    animation-delay: $x * 0.15s;
    animation-fill-mode: forwards;
  }
  $x: $x + 1;
}